<% if current_user %>
<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <h2>Messages</h2>
  </div>

  <div class="col-md-2 col-md-offset-4">
    <%= link_to new_message_path, remote: true do %>
      <button class="btn btn-default">New</button>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-2" id="message-form" style="display:none;"></div>
</div>

<div class="row">
  <div class="col-md-7 col-md-offset-1" id="messages"><%= render @messages %></div>
</div>


<% else %>
Hey! You need to be signed in to see these messages!<br>
<%= link_to "Sign in", new_user_session_path %>
<br>
<%= link_to "Sign up", new_user_registration_path %>
<% end %>